ul {
    width: 100%;
}

ul li {
    display: inline;
    list-style: none;
    margin-bottom: 10px;
}

.listItem {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 4;
    text-decoration: underline;
    border: solid;
    border-style: solid;
    margin: 10px;
    box-shadow: 5px 5px;
}

.container {
    display: flex;
    /* background-color: red; */
    width: 100%;
    align-items: center;
    justify-content: center;
} 

.containerImgLogo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.imgLogo{
    height: 200px;
    width: 200px;
    box-shadow: 10px 10px;
    border: solid;
    border-style: solid;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footerContainer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-top: solid black 2px;
        margin-top: 30px;
        justify-content: center;
}

.imgContainer img {
    width: 650px;
    height: 400px;
    border: solid;
    margin-top: 15px;
}

.footerContent {
     display: inline-block;
     padding: 10px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}

.imgLogo img {
    width:200px ;
    height:200px ;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos > div {
    margin-top: 30px;
    text-align: center;
}

.produtos > div > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;

}

.produtos > div > img {
    border: 2px solid black;
    width: 300px;
    height: 300px;
}